<div style="padding-left: 20px;">
  <h3>Add User Account</h3>
  <form action="/dashboard" method="post" class="tp-form" style="text-align: center;">
    <mat-form-field appearance='outline' class="tp-full-width">
      <mat-label>Full Name</mat-label>
      <input matInput [formControl]='full_name'>
      <mat-error>Full Name is Required</mat-error>
    </mat-form-field>
    <mat-form-field appearance='outline' class="tp-full-width">
      <mat-label>Enter Email</mat-label>
      <input matInput [formControl]='email'>

      <!-- <input matInput list='category'> -->

      <mat-error>
        <span *ngIf="email.hasError('required')">Email is Required</span>
        <span *ngIf="email.hasError('email')">Enter Valid Email</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance='outline' class="tp-full-width">
      <mat-label>Group</mat-label>
      <!-- <input matInput list='category'> -->
      <mat-select [formControl]='groupSelected'>
        <mat-option value="Admin">Admin</mat-option>
        <mat-option value="Registered">Registered</mat-option>

      </mat-select>
      <mat-error *ngIf="groupSelected.hasError('required')">You must make a selection</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button class="btn-color">Add User</button>
  </form>
</div>
