<h1 class="page-header">
    <i class="glyphicon glyphicon-pencil"></i> Change Password
</h1>
  <form [formGroup]="changePassword" (ngSubmit)="changePassword.valid && onSubmit()" class="tp-form" style="text-align: center;" autocomplete="off">
    <mat-form-field appearance='outline' class="tp-full-width">
      <mat-label>Old Password</mat-label>
      <input matInput formControlName='old'>
      <mat-error *ngIf="changePassword.get('old').errors?.required">Old Password is Required</mat-error>
    </mat-form-field><br><br>
    <mat-form-field appearance='outline' class="tp-full-width">
      <mat-label>New Password</mat-label>
      <input matInput formControlName='new' pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$]).{8,}">
      <mat-error *ngIf="changePassword.get('new').errors?.required">New Password is Required</mat-error>
      <!-- <mat-error *ngIf="changePassword.get('new').errors?.minlength">It should contain alteast 8 characters</mat-error> -->
      <mat-error *ngIf="changePassword.get('new').errors?.pattern">Must contain at least one number and one uppercase and lowercase letter and Special charaters<br></mat-error>
    </mat-form-field><br><br>
    <mat-form-field appearance='outline' class="tp-full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName='confirm' pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$]).{8,}">
        <mat-error *ngIf="changePassword.get('confirm').errors?.required">New Password is Required</mat-error>
        <mat-error *ngIf="changePassword.get('confirm').errors?.pattern">Must contain at least one number and one uppercase and lowercase letter and Special charaters</mat-error>
        <!-- <mat-error *ngIf="changePassword.get('new').errors?.minlength">It should contain alteast 8 characters</mat-error> -->
        <mat-error *ngIf="changePassword.get('confirm').errors?.mustMatch">New password and Confirm Password Must be Equal</mat-error>
      </mat-form-field><br><br>
    <button type="submit" mat-raised-button class="btn-color">Change Password</button>
  </form>
  