
body#login {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #1f87c2;
    color: white;
}
body#login h2{
    color: white;
}

footer{
    position: fixed;
    text-align: center;
    padding-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1f87c2;
    color: white;
}
.actions{
    float: right;
    margin-top: 20px;
}