 <div *ngFor="let m of getPages()">
   <p>{{m.title}}</p>
   <p>{{m.category}}</p>
   <p>{{m.author}}</p>
 </div>
 <table id="sort-table" class="table table-striped tablesorter">
   <thead>
     <tr>
       <th><input type="checkbox" /></th>
       <th>
         Page Title <i class="glyphicon glyphicon-chevron-down"></i>
       </th>
       <th>
         Category <i class="glyphicon glyphicon-chevron-down"></i>
       </th>
       <th>
         Author <i class="glyphicon glyphicon-chevron-down"></i>
       </th>
       <th>Update</th>
     </tr>
   </thead>

   <tbody>
     <tr>
       <td><input type="checkbox" /></td>
       <td><a href="page.html">Sample Page One</a></td>
       <td>Category One</td>
       <td>John Wick</td>
       <td (click)="updatePage()">Update</td>
     </tr>

     <tr>
       <td><input type="checkbox" /></td>
       <td><a href="page.html">Sample Page Two</a></td>
       <td>Category Two</td>
       <td>Vicky Nash</td>
     </tr>

     <tr>
       <td><input type="checkbox" /></td>
       <td><a href="page.html">Sample Page Three</a></td>
       <td>Category One</td>
       <td>Jenni lora</td>
     </tr>

     <tr>
       <td><input type="checkbox" /></td>
       <td><a href="page.html">Sample Page Four</a></td>
       <td>Category Three</td>
       <td>Haley maya</td>
     </tr>

     <tr>
       <td><input type="checkbox" /></td>
       <td><a href="page.html">Sample Page Five</a></td>
       <td>Category Two</td>
       <td>Austen Paige</td>
     </tr>
   </tbody>
 </table>

 <nav aria-label="Page navigation">
   <ul class="pagination">
     <li>
       <a href="#" aria-label="Previous">
         <span aria-hidden="true">&laquo;</span>
       </a>
     </li>
     <li><a href="#">1</a></li>
     <li><a href="#">2</a></li>
     <li><a href="#">3</a></li>
     <li><a href="#">4</a></li>
     <li><a href="#">5</a></li>
     <li>
       <a href="#" aria-label="Next">
         <span aria-hidden="true">&raquo;</span>
       </a>
     </li>
   </ul>
 </nav>
