<div>
  <table class="table">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Group</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of users.result | paginate:{itemsPerPage:limit,currentPage:pNo,totalItems:users.no}">
        <tr>
          <td>{{row.name}}</td>
          <td>{{row.email}}</td>
          <td>{{row.group}}</td>
          <td><mat-icon>edit</mat-icon></td>
          <td><mat-icon>delete</mat-icon></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="pull-right">
    <pagination-controls (pageChange)="getPage($event)"   previousLabel="Prev" nextLabel="Next" ></pagination-controls>
  </div>
</div>