
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of categories.result | paginate:{itemsPerPage:limit,currentPage:c,totalItems:categories.no}">
        <tr>
          <td>{{row.title}}</td>
          <td>update</td>
          <td>Delete</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="pull-right">
    <pagination-controls (pageChange)="getPage($event)"   previousLabel="Prev" nextLabel="Next" ></pagination-controls>
  </div>
</div>