<app-navbar></app-navbar>
<section>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="list-group">
            <a (click)="get()" class="list-group-item nav-g-item" routerLinkActive='activebutton'><i class="glyphicon glyphicon-dashboard"></i>
              My Profile</a>
            <a (click)="edit()" class="list-group-item" routerLinkActive='activebutton'><i class="glyphicon glyphicon-file"></i> Edit Profile</a>
            <a (click)="changePassword()" class="list-group-item nav-g-item" routerLinkActive='activebutton'><i class="glyphicon glyphicon-dashboard"></i>
                Change Password</a>
        </div>
        </div>
        <div class="col-md-8">
  
          <div class="row">
            <div class="col-md-6">
                <router-outlet></router-outlet>
            </div>
        </div>
      </div>
    </div>
</div>
</section>
<app-footer></app-footer>