<app-navbar></app-navbar>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="list-group">
          <a routerLink='/dashboard' class="list-group-item active"><i class="glyphicon glyphicon-dashboard"></i>
            Dashboard</a>
          <a routerLink='/pages' class="list-group-item"><i class="glyphicon glyphicon-file"></i> Pages</a>
          <a routerLink='/categories' class="list-group-item"><i class="glyphicon glyphicon-folder-open"></i>
            Categories</a>
          <a routerLink='/users' class="list-group-item"><i class="glyphicon glyphicon-user"></i> User Accounts</a>
        </div>
      </div>
      <div class="col-md-8">
        <h1 class="page-header">
          <i class="glyphicon glyphicon-dashboard"></i> Dashboard
        </h1>
        <h3>Latest Pages</h3>
        <table class="table table-striped">
          <tr>
            <th>Page Title</th>
            <th>Category</th>
            <th>Author</th>
          </tr>
          <tr *ngFor="let page of pages">
            <td>{{page.title}}</td>
            <td>{{page.category}}</td>
            <td>{{page.author}}</td>
          </tr>
        </table>
        <a class="btn btn-default" routerLink="/pages">View All Pages</a>
        <hr />

        <h3>Latest Users</h3>
        <table class="table table-striped">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Group</th>
          </tr>
          <tr *ngFor = "let user of users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.group}}</td>
          </tr>
        </table>
        <a class="btn btn-default" routerLink='/users'>View All Users</a>
        <hr />
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>