<h1 class="page-header">
  <i class="glyphicon glyphicon-file"></i> Edit Details
</h1>
<form [formGroup]="userForm" (ngSubmit)="userForm.valid && onSubmit()" class="tp-form" style="text-align: center;">
  <mat-form-field appearance='outline' class="tp-full-width">
    <mat-label>Full Name</mat-label>
    <input matInput formControlName='full_name' pattern="[A-Za-z\s]+">
    <mat-error *ngIf="userForm.get('full_name').errors?.required">Full Name is Required</mat-error>
    <mat-error *ngIf="userForm.get('full_name').errors?.minlength">Full Name must be at least 5 characters</mat-error>
    <mat-error *ngIf="userForm.get('full_name').errors?.maxlength">Full Name should not have more than 20 characters
    </mat-error>
    <mat-error *ngIf="userForm.get('full_name').errors?.pattern">Numbers and Special characters are not allowed
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance='outline' class="tp-full-width">
    <mat-label>Enter Email</mat-label>
    <input matInput formControlName='email'>
    <mat-error *ngIf="userForm.get('email').errors?.required">Email is Required</mat-error>
    <mat-error *ngIf="userForm.get('email').errors?.pattern">Email is invalid</mat-error>
  </mat-form-field>
  <mat-form-field appearance='outline' class="tp-full-width">
    <mat-label>Group</mat-label>
    <mat-select formControlName='groupSelected'>
      <mat-option *ngFor='let name of group' [value]="name">{{name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="userForm.get('groupSelected').errors?.required">You must make a selection</mat-error>
  </mat-form-field>
  <button type="submit" mat-raised-button class="btn-color">Update</button>
</form>
